.commentSection {
   display: flex;
   align-items: center;
   grid-template-columns: auto auto auto auto auto;
   padding-inline: 1%;
   width: auto;
   margin-bottom: 5%;
}

.commentIconStyle1 {
   height: auto;
   width: 6%;
   color: #E64691;
   background-color: rgb(255, 255, 255);
   border-radius: 50%;
   border: 0.35vw solid #E64691;
}

.commentSection input {
   text-align: center;
   font-size: 1.5vw;
   color: rgb(255, 255, 255);
   position: relative;
   left: 10%;
   width: 100%;
   padding-block: 2.2vw;
   padding-inline: 8vw;
   background-color: rgba(0, 0, 0, 0.39);
   border-radius: 1vw;
   border-color: transparent;
}

.commentSection input::placeholder {
   color: white;
}

.sendComment {
   font-size: 1.5vw;
   font-weight: bold;
   color: #ffff;
   position: absolute;
   left: 82%;
   margin-top: -5.7%;
   border-radius: 1vw;
   width: 10%;
   height: 5vw;
   border: rgba(230, 70, 145, 0);
   background-color: #E64691;
}

.commentSection button:hover {
   color: #E64691; 
   background-color: #ffff;
}

/* readSection */
.readSection {
   display: grid;
   grid-template-columns: auto auto;
   position: absolute;
   margin-top: 30%;
   padding: 1%;
   background-color: rgba(0, 0, 0, 0.39);
   border-radius: 1vw;
   color: white;
}

.commentIconStyle2 {
   height: auto;
   width: 220%;
   color: #E64691;
   background-color: rgb(255, 255, 255);
   border-radius: 50%;
   border: 0.35vw solid #E64691;
}

.readSection .user {
   margin-top: -15%;
}

.readSection h3 {
   margin-left: 50%;
}

.readSection p {
   grid-column: 2;
   font-size: 1.5vw;
   margin-top: -10%;
   margin-left: 50%;
}

@media screen and (max-width: 839px) {
   .commentSection input {
      padding-inline: 6vw;
   }
}